<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scape = 1">

    <title>Torbjörn - An HTML Tag Viewer</title>

    <!-- Import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- import jquery.highlight -->
    <link rel="stylesheet" href="/static/plugin/jquery.highlight/jquery.highlight-within-textarea.css" rel="stylesheet">

    <!-- Bring in our style sheet -->
    <link rel="stylesheet" href="/static/style/index.css">
</head>

<body>
    <div id="react-content"></div>

    <!-- Import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Import bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Import react -->
    <script src="https://unpkg.com/react@15.3.1/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>

    <!-- import jquery.highlight -->
    <script src="/static/plugin/jquery.highlight/jquery.highlight-within-textarea.js"></script>

    <!-- And alas, bring in out script -->
    <script type="text/babel" src="/static/scripts/react.js"></script>
</body>
</html>