<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>React Tutorial</title>

    <!-- Import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Import react -->
    <script src="https://unpkg.com/react@15.3.1/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>

    <!-- import jquery.highlight -->
    <link rel="stylesheet" href="/static/plugin/jquery.highlight/jquery.highlight-within-textarea.css" rel="stylesheet">
    <script src="/static/plugin/jquery.highlight/jquery.highlight-within-textarea.js"></script>

    <!-- Bring in our style sheet -->
    <link rel="stylesheet" href="/static/style/index.css">


</head>

<body>
    <div class="container">
        <div id="content"></div>
    </div>
    <script type="text/babel" src="/static/js/react.js"></script>
</body>
</html>