<!DOCTYPE html>
<html lang="en">
<head>
<!-- Some meta defintions -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scape = 1">

    <!-- Import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Torbjörn - About</title>
</head>
<body>
<img title="this is >" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
<img title="this is <" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
<script type="text/javascript">
    function throw_it_off(x,y) {
        if (x > 5) {
            return True;
        }
    }
    eval('function throw_it_off_2(x,y) {if (x < 5 && y > 6) {return True;}');
    }
</script>
<script ></script>
</body>
</body>
</html>