/* background and positioning for textarea highlighting */
.hwt-container {
    display: block;
    background-color: #fff;
}

/* size and formatting for textarea highlighting */
.hwt-content {
    height: 600px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    color: #555;
}

/* highlights for our textarea highlighting */
.hwt-content mark {
    border-radius: 3px;
    background-color: #b1d5e5;
}

/* custtom div for buffering some space between our rows. */
.top-buffer {margin-top: 20px; }

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

/* setting up our textarea */
textarea{
    height: 600px;
    width:  100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0;
    padding: 0;
    border-radius: 0;
}

/* for showing the url that we're viewing the source for currently. */
.content-header-overflow {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}