<html>
<head>
    <!-- Some meta defintions -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scape = 1">

    <!-- Import jquery.highlight-->
    <link rel="stylesheet" href="static/plugin/jquery.highlight/jquery.highlight-within-textarea.css" rel="stylesheet">

    <!-- Import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Import our stylesheet -->
    <link rel="stylesheet" href="static/style/index.css">

</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 sidebar">

            <div class="well">
                <!-- If we found tags, then display a list of our tags and the tally for each of them. -->
                {% if tag_tallies %}
                <div class="list-group">
                    {% for tag in tag_tallies %}
                    <!-- use our jquery.highlight plugin to highlight the text that we want to highlight in our textarea -->
                    <a href="javascript:function onInput(input) {return {{ tag.highlights }};}$(document.getElementById('html-doc')).highlightWithinTextarea(onInput);" class="list-group-item">
                        <span class="badge">{{tag.count}}</span>
                        {{tag.name}}
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <!-- Otherwise let's just show a message saying that no tags were found -->

                <h1>No tags found!</h1>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9 content">
            <div class="well">
                <textarea disabled id="html-doc">{{ html_doc }}</textarea>
            </div>
        </div>
    </div>
</div>

<!-- import jquery -->
<script src="static/js/jquery-3.1.0.min.js"></script>

<!-- import jquery.highlight -->
<script src="static/plugin/jquery.highlight/jquery.highlight-within-textarea.js"></script>

<!-- import bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>